<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bluffball</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
</head>

<body>
  <section class="section is-small">
    <div class="columns">
      <div class="column content has-text-centered">
        <a href="/">
          <h1 class="title">Bluffball</h1>
        </a>
      </div>
    </div>
  </section>
  <section class="section is-small">
    <div class="columns">
      <div class="column"></div>
      <div class="column content has-text-justified is-half">
        <p>
          {% block content %}
            {% for i in bluff_lines %}
             {{ i }}<br>
            {% endfor %}
          {% endblock %}
        </p>
      </div>
      <div class="column"></div>
    </div>
  </section>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        Sound like a big, normal man.<br>
        Updated daily, refresh for more.
      </p>
    </div>
  </footer>
</body>

</html>